<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../statics/stylepedidos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Laboratorios Citología</title>
  </head>

  <body>
    <div class="container">
    <form action="action_page.php">
      <div class="row">
        <div class="col-25">
          <label for="fname">Cedula</label>
        </div>
        <div class="col-75">
          <input type="text" id="Ced" name="Cedu" >
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Nombres</label>
        </div>
        <div class="col-75">
          <input type="text" id="Nombre" name="Nombres" >
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Apellidos</label>
        </div>
        <div class="col-75">
          <input type="text" id="Apellido" name="Apellidos" >
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Edad</label>
        </div>
        <div class="col-75">
          <input type="text" id="edad" name="edad" >
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">País</label>
        </div>
        <div class="col-75">
          <input type="text" id="pais" name="pais" >
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Provincia</label>
        </div>
        <div class="col-75">
          <input type="text" id="provincia" name="provincia" >
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Cantón</label>
        </div>
        <div class="col-75">
          <input type="text" id="canton" name="canton" >
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Parroquía</label>
        </div>
        <div class="col-75">
          <input type="text" id="parroquia" name="parroquia" >
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Ciudad</label>
        </div>
        <div class="col-75">
          <input type="text" id="ciudad" name="ciudad" >
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Sector</label>
        </div>
        <div class="col-75">
          <input type="text" id="sector" name="sector" >
        </div>
      </div>
      <div class="row">
         <a href="index.html">Regresar</a>
      </div>
      <div class="row">
        <input type="button" value="Grabar" onclick="imprime()">
      </div>
      <script>
        const electron = require('electron')
        const {ipcRenderer} = electron
            let cedula1 = document.querySelector(".col-75 input[name='Cedu']")
            var cedula = 's'
            //cedula = parseInt(cedula, 10)
            //console.log(typeof(cedula))
            let nombres = document.querySelector(".col-75 input[name='Nombres']")
            let apellidos = document.querySelector(".col-75 input[name='Apellidos']")
            let edad = document.querySelector(".col-75 input[name='edad']")
            edad = parseInt(edad, 10)
            let pais = document.querySelector(".col-75 input[name='pais']")
            let provincia = document.querySelector(".col-75 input[name='provincia']")
            let canton = document.querySelector(".col-75 input[name='canton']")
            let parroquia = document.querySelector(".col-75 input[name='parroquia']")
            let ciudad = document.querySelector(".col-75 input[name='ciudad']")
            let sector = document.querySelector(".col-75 input[name='sector']")
            var registro = new Array();
            function imprime(){

                console.log(typeof(cedula1.value))
                cedula =cedula1.value
                console.log(cedula)
                console.log(typeof(cedula.value))
                console.log(isNaN(cedula))
                //Number(cedula)
                //console.log(typeof(cedula.value))
                registro.push(cedula1.value)
                registro.push(nombres.value)
                registro.push(apellidos.value)
                registro.push(edad.value)
                registro.push(pais.value)
                registro.push(provincia.value)
                registro.push(canton.value)
                registro.push(parroquia.value)
                registro.push(ciudad.value)
                registro.push(sector.value)
                //for(var i in registro) {
                //    console.log(registro[i]); // elemento actual
                //}
                ipcRenderer.send('save', registro)
            }

    </script>
    </form>
  </div>
</body>
</html>
